body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #4CAF50;
}

img {
    height: auto;
    margin-top: 20px;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 60%;
    margin: 0 auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px 12px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

a:hover {
    background-color: #45a049;
}